.MovieListItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.1em 0;
  max-width: 40em;
  flex: 1 1 100%;
}

.MovieListItem img {
  object-fit: cover;
  width: 100px;
  height: auto;
  cursor: pointer;
}

.MovieListItem img + div {
  width: 100%;
}
